.matrix-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 4px;
}

.row {
  display: flex;
  gap: 4px;
}

/* path */
.color-0 {
   opacity: 0.6;
  background-color: #3e4a5e
}
/* player */
.color-1 {
  background-color:white;
}
/* wall */
.color-2 {
   opacity: 0.6;
  background-color: black;
}
/* lose */
.color-3 {
   opacity: 0.6;
  background-color: red;
}
/* win */
.color-4 {
   opacity: 0.6;
  background-color: green;
}
.child-grid {
  display: flex;
}

.matrix-container {
  flex:1;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  transition: all 0.2s ease;
  
}

.matrix-row {
  display: flex;
}

.matrix-cell {
 
  flex:1;
  /* border-radius:0.5vh; */
 
  /* box-shadow: inset 0px 0px 0px 1p; */
  aspect-ratio: 1; 
  /* transition: all 0.1s linear; */
}

.corner-0{
border-top-left-radius: 2vh;
}
.corner-1{
  border-bottom-left-radius: 2vh;
}
.corner-2{
  border-top-right-radius: 2vh;
}
.corner-3{
  border-bottom-right-radius: 2vh;
}

.hovered-0{
  background-color:#3e4a5e;
  opacity:0.9
} 
.hovered-2{
  background-color: black;
  opacity:0.9
  
}
.hovered-3{
  background-color: red;
  opacity:0.9
  
}
.hovered-4{
  background-color: #0e5c16;
  opacity:0.9
  
}



.top-c {
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: black;
  animation: animateTop-c 1s linear infinite;
}

.bottom-c {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background:black;
  animation: animateBottom-c 1s linear infinite;
}

.right-c {
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: black;
  animation: animateRight-c 1s linear infinite;
  
}

.left-c {
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background: black;
  animation: animateLeft-c 1s linear infinite;
}



@keyframes animateTop-c {
  0% {
    height: 0%;
   
  }
  100% {
    height: 100%;
    
  }
}

@keyframes animateBottom-c {
  0% {
    height: 100%;
   
  }
  100% {
    height: 0%;
    
  }
}


@keyframes animateRight-c {
  0% {
    width: 0%;
   
  }
  100% {
    width: 100%;
    
  }
}

@keyframes animateLeft-c {
  0% {
    width: 100%;
   
  }
  100% {
    width: 0%;
    
  }
} 
