.matrix-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);

  margin: 0;  
  padding: 0;
  gap:1px;

}

.row {
  display: flex;
  /* padding: 1px; */
  margin: 0px;
  gap:1px;

 
}

/* path */
.color-0 {
   opacity: 0.6;
  background-color: #3e4a5e
}
/* player */
.color-1 {
  /* background-color:#4f4a5a; */
  background-color:#3e4a5e;
  opacity: 0.6;
  /* background-color: white; */
  /* opacity: 0.6; */
}
/* wall */
.color-2 {
   opacity: 0.6;
  background-color: black;
}
/* lose */
.color-3 {
   opacity: 0.6;
  background-color: red;
}
/* win */
.color-4 {
   opacity: 0.6;
  background-color: green;
}
.child-grid {
  display: flex;
}

.matrix-container {
  flex:1;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  transition: all  linear  
}

.matrix-row {
  display: flex;
}

.matrix-cell {
  /* padding-left: 1px; */
  padding: 0;
  margin: 0;
  /* padding: 4px; */
  flex:1;
  /* border-radius:0.5vh; */
 
  /* box-shadow: inset 0px 0px 0px 1p; */
  aspect-ratio: 1; 
  /* transition: all 0. linear; */
}

.corner-0{
border-top-left-radius: 2vh;
}
.corner-1{
  border-bottom-left-radius: 2vh;
}
.corner-2{
  border-top-right-radius: 2vh;
}
.corner-3{
  border-bottom-right-radius: 2vh;
}

.hovered-0{
  background-color:#3e4a5e;
  opacity:0.9
} 
.hovered-2{
  background-color: black;
  opacity:0.9
  
}
.hovered-3{
  background-color: red;
  opacity:0.9
  
}
.hovered-4{
  background-color: #0e5c16;
  opacity:0.9
  
}


/* mov 0 */
.grow-up {
  opacity:1;
  bottom: 0;
  width: 100%;
  height:0%;
  background: white;
  animation: animateGrow-Up  linear 1;

}

@keyframes animateGrow-Up {
  0% {
    height: 0%;
   
  }
  100% {
    height: 100%;
    
  }
}
.shrink-up {
  opacity:1;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: animateShrink-Up  linear 1;
}

@keyframes animateShrink-Up {
  0% {
    height: 100%;
   
  }
  100% {
    height: 0%;
    
  }
}
/* mov 0 */

/* mov 1 */ 
.grow-right {
  opacity:1;
 
  left: 0;
  width: 0%;
  height:100%;
  background: white;
  animation: animateGrow-Right  linear 1;

}

@keyframes animateGrow-Right {
  0% {
    width: 0%;
   
  }
  100% {
    width: 100%;
    
  }
}
.shrink-right {
  opacity:1;
  right: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: animateShrink-Right  linear 1;
}

@keyframes animateShrink-Right {
  0% {
    width: 100%;
   
  }
  100% {
    width: 0%;
    
  }
}

/* mov 1 */ 

/* mov 2 */
.grow-down {
  opacity:1;
  top: 0;
  width: 100%;
  height:0%;
  background: white;
  animation: animateGrow-down  linear 1;

}

@keyframes animateGrow-down {
  0% {
    height: 0%;
   
  }
  100% {
    height: 100%;
    
  }
}
.shrink-down {
  opacity:1;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: animateShrink-down  linear 1;
}

@keyframes animateShrink-down {
  0% {
    height: 100%;
   
  }
  100% {
    height: 0%;
    
  }
}
/* mov 2 */

/* mov 1 */ 
.grow-left {
  opacity:1;
 
  right: 0;
  width: 0%;
  height:100%;
  background: white;
  animation: animateGrow-left  linear 1;

}

@keyframes animateGrow-left {
  0% {
    width: 0%;
   
  }
  100% {
    width: 100%;
    
  }
}
.shrink-left {
  opacity:1;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation: animateShrink-left  linear 1;
}

@keyframes animateShrink-left {
  0% {
    width: 100%;
   
  }
  100% {
    width: 0%;
    
  }
}

/* mov 3 */ 

.stoped {
  width: 100%;
  height: 100%;
  background-color: white;
}

.hid{
 
  visibility: hidden;
    opacity: 0;
  transition: all 2s linear;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  
  
}
.win-animation{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  visibility: visible;
    opacity: 1;
  

}

.loss-animation{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  visibility: visible;
    opacity: 1;
  

}
