.radio{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1em;
   
}
.container{
    display:grid;   
    height: 100%;
    grid-template-rows: 1fr 5fr 1fr;
    place-items: center;
    font-size: 2.4vmin
}

.draw-config{
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.draw-cell{
    
    display: grid;
    place-items: center;
    width: 50%;
    padding: 10%;
      

    /* border-bottom-left-radius:1.5vh ; */
    /* border-top-left-radius: 1.5vh; */
    /* opacity: 0.5; */
    transition: opacity 0.3s linear;
   
}

.selected-true{
    /* border: 2px solid; */
    box-shadow:inset 0px 0px 0px 3px white;
    opacity:1;
}

.selected-null{
    opacity: 0.9;
}

.selected-false{
    opacity: 0.5;
}


span {
    position: absolute;
    /* border-radius: 100vmax; */
}

.top-true {
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: white;
  border-radius: 2vh;
}

.bottom-true {
  right: 0;
  bottom: 0;
  height: 3px;
  background:white
}

.right-true {
  top: 0;
  right: 0;
  width: 3px;
  height: 0;
  background: white
}

.left-true {
  left: 0;
  bottom: 0;
  width: 3px;
  height: 0;
  background: white
}

.top-true {
  animation: animateTop 1s linear forwards;
}

.bottom-true {
  animation: animateBottom 1s linear forwards;
}

.right-true {
  animation: animateRight 1s linear forwards;
}

.left-true {
  animation: animateLeft 1s linear forwards;
}

@keyframes animateTop {
  66% {
    width: 0%;
    opacity: 1;
  }

  
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes animateBottom {
  0% {
    opacity: 0;
    width: 0;
  }

  33% {
    opacity: 1;
    width: 100%;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes animateLeft {
 
  33% {
    opacity: 0;
    bottom: 0;
    height: 0;
  }

  66% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
  