.matrix-control {
    display: grid;
    justify-content: left;
    /* align-items: gri-start;  */
    /* max-width: 80%; */
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding-top: 2%;
    gap: 3px;
    min-width: 15em;
    width: 100%;
    height: 100%;  
}

.div-control{
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
    justify-items: center;
    align-items: center;
}
.text-tip{
    font-size: 0.9em;
    margin: 0;
    /* color: white; */
    cursor: "pointer"
}
.skip-steps{
    /* display: flex; */
    /* flex-direction: row; */
    /* grid-template-columns: 3fr 1fr 1fr; */
    font-size: 0.8em;
    color: white;
    cursor: "pointer"
 
}

.animated-box{
  background-color:rgba(204, 204, 204,0);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  transition: all 0.5s linear;
  opacity: 0;
}
.animation {
  transform: translateY(-50px);
  background-color:  rgba(204, 204, 204, 0.0);
  color: orange;
  opacity: 1;
  transition: all 0.5s linear;
}
.div-control:hover{
  color: orange;
}
