body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b2042;
  width: 100%;
  height: 100%;
  margin: 0 ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex;
}

.child{
  flex: 1;
  flex-basis: 33.33%;
  align-items: center; /* Center vertically */
  height: 100vh;

}
.child-matrix{
  flex: 1;
  flex-basis: 33.33%;
  align-items: center;
  height: 100vh;
  
}